.form-input {
  /*border: 1px solid red;*/
  margin-bottom: 30px;
}
.input-block {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
  margin-bottom: 7px;
}

input {
  font-size: 18px;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid grey;
}
.red-text {
  color: red;
  display: block;
  text-align: left;
}
.red-border {
  border: 1px solid red;
}
.grey-border {
  border: 1px solid grey;
}
