.form-container {
  /*border: 1px solid black;*/
  width: 450px;
  margin: 40px auto auto auto;
  border-radius: 7px;
  padding: 40px;
  background-color: white;
}

.logo {
  width: 100px;
  margin: 0 auto 30px auto;
}
.logo > img {
  width: 100%;
}
.title {
  line-height: 1;
}
.subtitle {
  font-size: 15px;
  color: gray;
  margin: 15px auto 30px auto;
}

button[type="submit"] {
  background-color: black;
  color: white;
  width: 100%;
  font-size: 18px;
  padding: 7px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
